body {
    font-family: sans-serif;
    margin: 0;
}
.container{
    width: 856px; 
    background-color: #fff;
    margin-right: auto;
    margin-left: auto;
}
.header-menu{
    text-align: center;
}
.navigation-menu{
    margin-right: 57px;
    margin-top: 32px;
    margin-bottom: 32px;
}
.header-navigation-list{
    list-style: none;
    padding: 0;
}
.header-list-item{
    display: inline;
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 135%;
    margin-left: 72px;
}
.header-navigation-link{
    color: #000;
    text-decoration: none; 
}
.image-container {
    background-color: #00BDC9;
    height: 552px;
    text-align: center;
}
.main-image {
    margin: 92px auto;
}
.main-title{
    color: #000;
    font-family: Inter;
    line-height: 135%;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
}
.main-text {
    color: #161616;
    font-family: Inter;
    font-size: 21px;
    font-weight: 500;
    line-height: 150%;
    text-align: left;
}
.text {
    color: #04959E;
    font-family: Inter;
    font-size: 21px;
    font-weight: 600;
    line-height: 150%;
}
.main-list{ 
    padding-left: 25px;

    color: #161616;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;  
}
.main-button{
    color: #FFF;
    font-family: Inter;
    line-height: 135%;
    background: #04959E;
    border-radius: 0;
    padding: 10px 24px;
    margin-left: 379px;
    font-size: 18px;
    margin-bottom: 101px;
    margin-top: 50px;
}
.foot-text{
    color: #161616;
    text-align: center;
    font-family: Inter;
    line-height: 150%; 
    font-size: 18px;
    padding-bottom: 20px;
}